:root {
    --pri-col:#9c0;
    --sec-col:#09c;
    --trn-blk:rgba(0,50,100,0.8);
}

/* Reset */
*{font:300 1rem/2 Lato,sans-serif;box-sizing:border-box;margin:0;padding:0;border:0;vertical-align:baseline}ol,ul{list-style:none}table{border-collapse:collapse;border-spacing:0}

h1,h2,h3 {font-family: 'Quattrocento'; font-weight: 700; color:#333;}
h1 {font-size:3.5rem;}
h2 {font-size:2.5rem;}
h3 {font-size:1.5rem;}
section {margin:2rem auto;}

#body-wrap {
    max-width: 66rem;
    margin:auto;
    overflow: hidden;
}

/* Nav */
nav {
    position: fixed;
    top:0;
    left:100%;
    width:18rem;
    height:100vh;
    transform: translateX(-3rem);
    transition: transform 1.5s;
}
nav ul {
    height:100vh;
    width:15rem;
}
#nav-open {
    display: block;
    width:3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    
    outline: none;
}
nav ul, #nav-open {
    float:left;
    background: var(--trn-blk);
    color: #fff;
    /*backdrop-filter: brightness(0.3); /* experimental */
}
nav.open {
    transform: translateX(-18rem);
    transition: transform 0.5s;
}
nav span.sub-menu + ul {
    height:auto;
    visibility: visible;
    margin-left:2rem;
}
nav span.closed + ul {
    height:0;
    visibility: hidden;
}
li.nav-pri {
    line-height: 3rem;
}
li.nav-pri span {
    cursor: pointer;
}
li.nav-pri span:not([class]) {
    margin-left:2rem;
}
li.nav-pri > span.sub-menu::before {
    content: "\FF0D";
    display: inline-block;
    position: relative;
    top: 0.25rem;
    width: 1rem;
    margin-right:1rem;
    font-size: 2rem;
}
li.nav-pri > span.closed::before {
    content: "\FF0B" !important;
}
