/* Resets */

body {
    font-family: 'Raleway', sans-serif;
}

ul {
    margin-left: 0;
    list-style: none;
}

h1, h2, h3 {
    font-family: 'Oswald';
    font-weight: 300;
    text-transform: uppercase;
}

section {
    margin: 5rem auto;
}


/* Nav */

nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 30rem;
    height: 100vh;
    transform: translateX(-3rem);
    transition: transform 0.25s ease-in-out;
    backdrop-filter: blur(0.5rem);
}

nav ul {
    height: 100vh;
    width: 15rem;
    padding-left: 1rem;
    backdrop-filter: blur(0.5rem);
    -webkit-backdrop-filter: blur(0.1rem);

}

#nav-open {
    display: block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    outline: none;
}

#nav-items, #nav-open {
    float: left;
    background: url(../img/tex.png) rgba(0, 0, 0, 0.8);
    color: #fff;
}

#nav-open span {
    transform: translateX(12px);
}

#nav-open span, #nav-open span:before, #nav-open span:after {
    cursor: pointer;
    height: 2px;
    width: 26px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
}

#nav-open span:before {
    top: -9px;
    transform: rotate(0);
}

#nav-open span:after {
    bottom: -9px;
    transform: rotate(0);
}

#nav-open span, #nav-open span:before, #nav-open span:after {
    transition: all 0.3s ease-in-out;
}

#nav-open.active span {
    background-color: transparent;
}

#nav-open.active span:before, #nav-open.active span:after {
    bottom: -9px;
}

#nav-open.active span:before {
    transform: rotate(45deg);
    transform-origin: top left;
}

#nav-open.active span:after {
    transform: rotate(-45deg);
    transform-origin: bottom left;
}

nav.open {
    transform: translateX(-30rem);
    transition: transform 0.3s ease-in-out;
}

nav span.sub-menu+ul {
    height: auto;
    visibility: visible;
    margin-left: 2rem;
}

nav span.closed+ul {
    height: 0;
    visibility: hidden;
}

li.nav-pri {
    line-height: 3rem;
}

li.nav-pri span {
    cursor: pointer;
}

li.nav-pri span:not([class]) {
    margin-left: 2rem;
}

li.nav-pri>span.sub-menu::before {
    content: "\FF0D";
    display: inline-block;
    position: relative;
    top: 0.25rem;
    width: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
}

li.nav-pri>span.closed::before {
    content: "\FF0B" !important;
}


/* Footer */

footer p {
    width: 100%;
}

footer svg {
    width: 6.66rem;
    margin: 1rem auto;
}

footer svg path {
    fill: rgba(0, 0, 0, 0.2);
    fill-rule: evenodd;
    clip-rule: evenodd;
}


/* experimental */

@supports ( backdrop-filter:blur(0.5rem)) {
    nav ul {
        backdrop-filter: blur(0.5rem);
    }
}